.gridcontainer {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(1fr, 2);
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.first,
.second {
  height: fit-content;
  cursor:pointer;
}
.form {
  grid-row: 1/2;
  grid-column: 2/3;
  cursor:pointer;
}
.form, .first, .second
{
  transition:all 0.5s ease-in-out;
}
.first:hover, .second:hover
{
  scale:1.02;
}
.form:hover
{
  scale:1.01;
} 
.inputfield
{
  height:35px;
  border-radius:5px;
}
textarea
{
  height:300px;
  resize:none;
}
@media (max-width: 800px) {
  .gridcontainer {
    grid-template-columns: 1fr;
  }
  .flex-container {
    order: 2;
  }
  .form {
    order: 0;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .first, .second
  {
    width:60%;
    margin:auto;
  }
  .first
  {
    transform: translateX(-50px);
  }
  .second
  {
    transform: translateX(50px);
  }
}
@media (max-width: 640px) {
  .first, .second
  {
    width:100%;
  }
  .first
  {
    transform: translateX(0px);
  }
  .second
  {
    transform: translateX(0px);
  }
}
